<div class="container-fluid">
  <div class="row borders bg-success" style="border:1px solid #1a66ff; height:100px; font-size: 50px;">
    <p class="text-center">Company Name</p>
  </div>

  <div class="row bg-info" style="border:1px solid #1a66ff; height:50px;">
    <p class="text-center bg-info" style="padding: 0px !important"><%= link_to '<button type="button" class="btn btn-primary btn-block">About</button>'.html_safe, controller: 'about' %></p>
  </div>

  <div class="row bg-info" style="border:1px solid #1a66ff; height:50px;">
    <p class="text-center bg-info"><%= link_to '<button type="button" class="btn btn-primary btn-block">Products</button>'.html_safe, controller: 'products' %></p>
  </div>

  <div class="row bg-info" style="border:1px solid #1a66ff; height:50px;">
    <p class="text-center bg-info"><%= link_to '<button type="button" class="btn btn-primary btn-block">Contact</button>'.html_safe, controller: 'contact' %></p>
  </div>

  <div class="row bg-success" style="border:1px solid #1a66ff; height:25px; font-size: 14px;">
    <footer class="text-center bg-success">Trademark</footer>
  </div>
</div>