<div class="container-fluid main_container d-flex" style="min-height: 100vh;">
  <div class="row border flex-fill">
    <div class="col h-100">

      <div class="row border" style="height: 30%; background-color: #20c997">
        <div class="col mh-100 justify-content-center align-self-center">
          <p class="mh-100 text-center" style="font-size: 10vh;">Company Name</p>
        </div>
      </div>

      <div class="row border" style="height: 20%; background-color: #20c997;">
        <div class="col">
          <%= link_to '<button type="button" class="btn btn-primary btn-block h-100" style="font-size: 8vh; opacity: .7; background-color: #008CBA;">About</button>'.html_safe, controller: 'about' %>
        </div>
      </div>

      <div class="row bordert" style="height: 20%; background-color: #20c997;">
        <div class="col">
          <%= link_to '<button type="button" class="btn btn-primary btn-block h-100" style="font-size: 8vh; opacity: .7; background-color: #008CBA;">Products</button>'.html_safe, controller: 'products' %>
        </div>
      </div>

      <div class="row border" style="height: 20%; background-color: #20c997;">
        <div class="col">
          <%= link_to '<button type="button" class="btn btn-primary btn-block h-100" style="font-size: 8vh; opacity: .7; background-color: #008CBA;">Contact</button>'.html_safe, controller: 'contact' %>
        </div>
      </div>

      <div class="row border" style="height: 10%; background-color: #20c997">
        <div class="col mh-100 justify-content-center align-self-center">
            <p class="text-center" style="font-size: 5vh;">Trademark Information - &#169; esoterickeys</p>
        </div>
      </div>

    </div>
  </div>
</div>