<div class="container-fluid">
  <div class="row borders bg-success text-center" style="border:1px solid #1a66ff; height:100px; font-size: 50px;">
    <p>Company Name</p>
  </div>

  <div class="row bg-info text-center" style="border:1px solid #1a66ff; height:50px;">
    <%= link_to '<button type="button" class="btn btn-primary btn-block">Back</button>'.html_safe, controller:  'splash' %>
  </div>

  <div class="row bg-info text-center" style="border:1px solid #1a66ff; height:50px;">
    <p>Demo website using Rails and Twitter Bootstrap!</p>
  </div>

  <div class="row bg-success text-center" style="border:1px solid #1a66ff; height:25px; font-size: 14px;">
    <footer>Trademark</footer>
  </div>
</div>