<div class="container-fluid">
  <div class="row borders bg-success" style="border:1px solid #1a66ff; height:100px; font-size: 50px;">
    <p class="text-center">Company Name</p>
  </div>

  <div class="row bg-info text-center" style="border:1px solid #1a66ff; height:50px;">
    <%= link_to '<button type="button" class="btn btn-primary btn-block">Back</button>'.html_safe, controller:  'splash' %>
  </div>

  <div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Product</th>
      <th>Value</th>
      <th>Value</th>
    </tr>

    <tr>
      <td>Product A</td>
      <td>One</td>
      <td>Two</td>
    </tr>

    <tr>
      <td>Product B</td>
      <td>Three</td>
      <td>Four</td>
    </tr>
  </table>
  </div>

  <div class="row bg-success" style="border:1px solid #1a66ff; height:25px; font-size: 14px;">
    <footer class="text-center bg-success">Trademark</footer>
  </div>
</div>