<p>
  <strong>Name: </strong>
  <%= @product.name %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @product.dimension %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Back', products_path %>